*{
	margin:0%;
	padding: 0%;
}


body{
	
    
    font-family: 'Poppins', sans-serif;
	overflow-x: auto;
	overflow-y: auto; 
	background-color: #ffffff;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
    
}

.contenedor{
	width: 100%;
	max-width: 100%;
	margin: 0 auto;

}

.logo{
    background: #ec5224;
    
}

.logo-p{
    margin-left: 20%;
    width: 55%;
    height: 65%;
    margin-top: 65px;


}

header {   
    
    background: -webkit-gradient(linear, left top, left bottom, from(#ff9901 ), to(#eb8d01));
    position: fixed;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow:0 12px 15px 0 #00000054;

    /*height: 20px;
    background: #eb8d01;
	padding: 10px;
    box-shadow: 0 2px 15px;
    font-family: helvetica, arial, sans-serif;
    box-shadow:0 12px 15px 0 #00000057,0 17px 50px 0 #00000057;*/
    
}

.menu{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.menu .logo-icono{
    display: inline-block;
    margin-right: 1em;
}

.menu .logo-icono img{
    vertical-align: top;
    height: 40px;

}

.menu .enlace{
    display: inline-block;
    text-align: right;
    color: #fff;
    text-decoration: none;
    padding: 1em;
    text-align: center;
    font-size: 1em;
}

.menu .enlace:hover{
    background: #fff;
    color: rgb(233, 127, 5);
    border-radius: 3px;

}

.menu .enlaces i{
    margin-right: 5px;
}

.menu .btn-menu{
    display: none;
    color: #fff;
    text-decoration: none;
    font-size: 1em;

}




.slider{
    width: 100%;
    overflow: hidden;
    box-shadow:0 12px 15px 0 #0000009a,0 17px 50px 0 #0000009a;
    
    
    
}

.slider ul{
    /*width: 100%;*/
    padding: 0;
    display: flex;
    width: 4500px;

    animation: slide 20s infinite alternate;
    animation-timing-function: ease-in;
    

}

.slider li{
   
    list-style: none;
    
    
}

.slider img{
    
    
    width: 100%; 
    height: 100% ;
    
    
}

@keyframes slide{

    0% {margin-left: 0px;}
    10% {margin-left: 0px;}

    20% {margin-left: -1275px;}
    35% {margin-left: -1275px;}


}

 
.container {

    background: #ff5e01d5;
    /*position: sticky;*/
    margin: auto;
    margin-top: 0px;
    width: 90%;
    height: 100%;
    padding-top: 30px;
    font-family: helvetica, arial, sans-serif;
    /*border-radius: 10px;*/
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow:0 12px 15px 0 #00000079,0 17px 50px 0 #00000079;
    }

.objetivos{

    margin: auto;
    width: 100%;
    height: 350px;
    border: 3px solid #ffffff;
    border-radius: 10px;

}

.titulo{
   text-align: center;
   font-size: 25px;
   margin-top:50px;
}

.iconos{
    font-size: 50px;
    margin: 40%;
    color: #fff;
    
}

a[class="iconos"]:hover{
    color:#000;
}


.servicios{
    margin: auto;
    margin-left: 2%;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    
}

.curso{
    
    background: #e3e3e3;
    background: -moz-linear-gradient(top, #e3e3e3, #c8c8c8);
    background: -webkit-gradient(linear, left top, left bottom, from(#eb8d01), to(#ffb951));
    margin:1%;
    float: left;
    width: 30%;
    height: 300px;
    border-top-right-radius: 5px ;
    border-top-left-radius: 5px;
    
    -moz-box-shadow: 1px 1px 3px #292929;
    -webkit-box-shadow: 1px 1px 3px #292929;
    box-shadow: 1px 1px 3px #292929;
    
    color: #ffffff;
    text-shadow: 0 1px 0 #000000c4;
    
    font-family: 'Poppins', sans-serif;
}



.mision{
    
    background: #e3e3e3;
    background: -moz-linear-gradient(top, #e3e3e3, #c8c8c8);
    background: -webkit-gradient(linear, left top, left bottom, from(#eb8d01), to(#ffb951));
    margin-right: -20px;
    float: left;
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 5px ;
    border-top-left-radius: 5px;
    
    -moz-box-shadow: 1px 1px 3px #292929;
    -webkit-box-shadow: 1px 1px 3px #292929;
    box-shadow: 1px 1px 3px #292929;
    
    color: #ffffff;
    text-shadow: 0 1px 0 #000000c4;
    
    font-family: 'Poppins', sans-serif;
}

.mision-t{
    color: #171718;
    float: center center;
    margin-left:40%;
    margin-top: 2%;
    font-size: 20px;
    
}

.mision-m{
    color: #ffffff;
    margin:auto;
    margin-right: 5%;
    margin-left: 5%;
    float: left;
    width: 90%;
    height: 50%;
}

.icono-m{
    
    font-size: 50px;
    margin: 40%;
    margin-top: -50;
    

    
}

.vision{
    background: #e3e3e3;
    background: -moz-linear-gradient(top, #e3e3e3, #c8c8c8);
    background: -webkit-gradient(linear, left top, left bottom, from(#eb8d01), to(#ffb951));
    margin-left: 20px;
    float: right;
    width: 50%;
    height: 100%;
    border-bottom-right-radius: 7px ;
    border-top-right-radius: 7px;

   -moz-box-shadow: 1px 1px 3px #292929;
   -webkit-box-shadow: 1px 1px 3px #292929;
      box-shadow: 1px 1px 3px #292929;

   color: #ffffff;
   text-shadow: 0 1px 0 #000000c4;

   font-family: 'Poppins', sans-serif;
}

.vision-t{
    color: #171718;
    float: center center;
    margin-left:40%;
    margin-top: 2%;
    font-size: 20px;
    
}

.vision-v{
    color: #ffffff;
    margin-right: 5%;
    margin-left: 5%;
    float: right;
    width: 90%;
    height: 50%;
}

.icono-v{
    font-size: 50px;
    margin: 40%;
    margin-top: -10;
     
}

.valores{

    margin: auto;
    width: 100%;
    height: 400px;
    background: #ffffffd2;
    box-shadow:0 12px 15px 0 #0000009a;
    

}

 
h1 {
    margin: auto;
    margin-top: 4%;
    width: 50%;
    color: #000000;
    text-shadow: 0 1px 0 #ffffffd0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h2{
    margin: auto;
    margin-top: 4%;
    width: 50%;
    color: #000000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


h3 {
    background: #e3e3e3;
    background: -moz-linear-gradient(top, #e3e3e3, #c8c8c8);
    background: -webkit-gradient(linear, left top, left bottom, from(#cc880b), to(#e6a903));
    padding: 10px 20px;
    margin-left: -20px;
    margin-top: 0;
    
    width: 70%;
    /*border-radius: 5px;*/
    border-bottom-right-radius: 5px ;
    border-top-right-radius: 5px;

   -moz-box-shadow: 1px 1px 3px #292929;
   -webkit-box-shadow: 1px 1px 3px #292929;
      box-shadow: 1px 1px 3px #292929;

   color: #ffffff;
   text-shadow: 0 1px 0 #000000c4;

   font-family: 'Poppins', sans-serif;
}


h4 {
    background: #e3e3e3;
    background: -moz-linear-gradient(top, #e3e3e3, #c8c8c8);
    background: -webkit-gradient(linear, left top, left bottom, from(#cc880b), to(#e6a903));
    float: right;
    padding: 10px 20px;
    margin-right: -20px;
    margin-top: 0;
    width: 70%;
    /*border-radius: 5px;*/
    border-bottom-left-radius: 5px ;
    border-top-left-radius: 5px;

   -moz-box-shadow: 1px 1px 3px #292929;
   -webkit-box-shadow: 1px 1px 3px #292929;
      box-shadow: 1px 1px 3px #292929;

   color: #ffffff;
   text-shadow: 0 1px 0 #000000c4;

   font-family: 'Poppins', sans-serif;
}


.valor{
    
    background: #e3e3e3;
    background: -moz-linear-gradient(top, #e3e3e3, #c8c8c8);
    background: -webkit-gradient(linear, left top, left bottom, from(#eb8d01), to(#ffb951));
    margin-top: 70px;
    margin-left: 1%;
    margin-right: auto;
    float: left;
    width: 30%;
    height: 50%;
    border-bottom-left-radius: 5px ;
    border-top-left-radius: 5px;
    
    -moz-box-shadow: 1px 1px 3px #292929;
    -webkit-box-shadow: 1px 1px 3px #292929;
    box-shadow: 1px 1px 3px #292929;
    
    color: #ffffff;
    text-shadow: 0 1px 0 #000000c4;
    
    font-family: 'Poppins', sans-serif;
}

#valor1{
    margin-left: 4%;
}


.arrow {
     width: 0; height: 0;
     line-height: 0;
     border-left: 20px solid transparent;
     border-top: 10px solid #ffffff;
     top: 104%;
     left: 0;
     position: absolute;
}

p {
    color: #ffffff;
    margin-right: 5%;
    margin-left: 5%;
    font-family: 'Poppins', sans-serif;
    
}

ul {
    color: #ffffff;
    margin-right: 5%;
    margin-left: 5%;
    font-family: 'Poppins', sans-serif;
    
}

/* Efectos del menu */

.headroom{
    transition: transform .3s ease;
}

.headroom--pinned{
    transform: translateY(0%);
}

.headroom--unpinned{
    transform: translateY(-100%);
}

/*Mediaqueries*/

@media screen and (max-width: 700px){
    header .menu{
        flex-direction: column;
    }

    header .menu .logo-icono{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding:1em;
    }

    header .menu .logo-icono .btn-menu{
        display: inline-block;
    }

    header .menu .enlaces{
        width:100%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}


   
    
